:root {
  --black: #111;
  --danger: red;
  --white: #fefefe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Courier Prime";
  overflow: hidden;
}

.button-container {
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 2rem 2rem;
  transition: all 200ms ease-in-out;
  width: 100%;
}

.button-container:hover {
  background-color: var(--danger);
}

.button-container:hover > .cta {
  color: var(--white);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.cta:link,
.cta:visited {
  color: var(--black);
  text-decoration: none;
}

.masker {
  position: absolute;
  z-index: -1;
}

.number {
  background: url(dynamic.webp) 0% 0% / cover no-repeat;
  background-clip: text;
  font-size: 12rem;
  text-align: center;
  word-break: break-all;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.numbers-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 4rem;
  position: relative;
}

@media screen and (min-width: 580px) {
  .number {
    font-size: 13rem;
  }
}

@media screen and (min-width: 620px) {
  .number {
    font-size: 13.5rem;
    line-height: 1;
  }
}

@media screen and (min-width: 647px) {
  .number {
    font-size: 13.65rem;
  }
}

@media screen and (min-width: 650px) {
  .number {
    font-size: 13.85rem;
  }
}

@media screen and (min-width: 657px) {
  .number {
    font-size: 14rem;
  }
}

@media screen and (min-width: 660px) {
  .number {
    font-size: 14.5rem;
  }
}

@media screen and (min-width: 685px) {
  .number {
    font-size: 14.75rem;
  }
}

@media screen and (min-width: 690px) {
  .number {
    font-size: 15rem;
  }
}

@media screen and (min-width: 700px) {
  .number {
    font-size: 15.35rem;
    line-height: 0.8;
  }
}

@media screen and (min-width: 715px) {
  .number {
    font-size: 15.5rem;
  }
}

@media screen and (min-width: 723px) {
  .number {
    font-size: 15.75rem;
  }
}

@media screen and (min-width: 733px) {
  .number {
    font-size: 15.95rem;
  }
}

@media screen and (min-width: 740px) {
  .number {
    font-size: 16.2rem;
  }
}

@media screen and (min-width: 750px) {
  .number {
    font-size: 16.5rem;
  }
}

@media screen and (min-width: 800px) {
  .number {
    font-size: 14.5rem;
  }
}
